body {
	font-size: 18px;
  	font-family: Helvetica, Arial, sans-serif;
	background-color: #f1f1f1;
	width: 1000px;
	margin: 0;
	padding: 0;
}

button {
    background-color: #142936;
    border: none;
    color: white;
    width: 230px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 0px;
    cursor: pointer;
}

button.text-button {
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
	width: 150px;
	background-color: white;
	color: #9B9B9B;
  	font-size: 14px;
  	outline: 0 none;
  	border: none;
}

input {
	font-size: 15px;
    padding: 10px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline-width: 0;
}

button a:link{
	padding: 0em;
	text-decoration: none;
}

button a{
	color: white;
}

a {
	color: white;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.flex-container {
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;  
	width: 100%;
	height: 100%;
}

.flex-container-nav {
	position: fixed;
	width: 100%;
    min-height: 100px;
	color: white;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	background: #5294e9;
	align-self: stretch;
	-webkit-flex-flow: row wrap;
}

.flex-container-nav a {
	text-decoration: none;
	display: block;
}

.nav-bar {
	display: flex;
    color: #FFFFFF;
}

.nav-bar-left {
	justify-content: flex-start;
    align-items: baseline;
}

.nav-bar-left div {
    transform: translateY(-25%);
}

.nav-bar-left img {
    padding: 1em;
    transform: translateY(42%);
}

.logo {
	display: block;
	padding: 2.1em;
    background-color: #142936;
}
.my-instances {
    padding: 0.7em;
    font-size: 24px;
    letter-spacing: 1px;
}

.user {
    position: absolute;
    right: 35px;
    padding: 1em;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transform: translateY(50%);
}
a:hover{
	color: gray;
}

.flex-instances {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: baseline;
    margin-top: 150px;
}

.template-container{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}


.template {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    width: 180px;
    height: 150px;
    padding: 2em 4em 7em 4em;
    margin: 1em;
    background-color: white;
}

.instance-template {
    width: 200px;
    height: 150px;
}

.rename-screen {
    position: absolute;
}

.new-instance-template {
	flex-direction: column;
	align-items: center;
	align-content: stretch;
	display: flex;
}

.instance-url {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #222222;
}

.csync-port {
  font-size: 14px;
  line-height: 65px;
  letter-spacing: 1px;
  color: #000000;
}

.instance-inputs {
	display: flex;
	flex-direction: column;
}

.new-instance-name, 
.new-name {
    margin-bottom: 110px;
}

.instance-name {
    order: 0;
    flex: 1;
    overflow: hidden;
    color: #5294e9;
    font-size: 24px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dash {
    color: #3e76c0;
    font-size: 30px;
    font-weight: 100;
}

#cancel-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
}

#plus-icon {
    cursor:pointer;
}