body {
	font-size: 18px;
  	font-family: SanFrancisco;
	text-align: center;
	color: darkgray;
	margin: 0;
	padding: 0;
}

button{
    background-color: #9B9B9B;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
}

button a:link{
	padding: 0em;
	text-decoration: none;
}

button a{
	color: white;
}

a {
	color: darkgray;
}

.flex-container {
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;  
	width: 100%;
	height: 100%;
}

.flex-container-nav {
	position: fixed;
	width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	background: #E7E7E7;
	align-self: stretch;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}

.flex-container-nav a {
	text-decoration: none;
	display: block;
	padding: 1em;
}

.nav-bar {
	display: flex;
}

.logo {
	display: block;
	margin-left: 15px;
	padding: 15px;
	color: darkgray;
}

.flex{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	align-self: stretch;
	min-height: 300px;
	background-color: white;
}

.flex-2, .flex-4{
	background-color: #E7E7E7;
}

.flex-1	{
	padding-top: 100px;
}

.flex-3	{
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	align-items: center;
	margin-right: -55px;
}

.footer {
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	background-color: gray;
	height: 50px;
    align-items: center;
	align-self: stretch;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
}

.footer a{
	text-decoration: none;
	display: block;
	padding: 0.3em;
}

a:hover{
	color: white;
}

.feature-columns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;

}

h5 {
	padding-left: 5em;
	padding-right: 5em;
}

div.col{
	width: 300px;
	padding: 0;
	padding-top: 1em;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: 4em;
	background-color: white;
	display: block;
}